<!DOCTYPE html>
<html>

<head>
    <title>login</title>
</head>

<body>
    <span>user:</span><input type="text" id="user">
    <button onclick="sub()">submit</button>
    <script>
        function sub() {
            let user = document.getElementById('user');
            let xhr = new XMLHttpRequest();
            let data = {
                content: user.value
            }

            xhr.open('POST', 'http://localhost:3000/login', true);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState !== 4) {
                    return;
                }
                if (xhr.status >= 200 && xhr.status <= 300) {
                    console.log(xhr.responseText);
                } else {
                    console.log(xhr.statusText);
                }
            }
            xhr.send(JSON.stringify(data));
        }
    </script>
</body>

</html>